{% extends 'base.html' %}
{% block main %}

<div class="container">
     <h2> Delete project?</h2>
     <p>If you delete an object, its tasks will also be deleted!</p>
     {% include 'partial/card_project.html' %}
     <form data-actions-icnt="{% url 'project_delete' project.pk %}" method="POST">
          {% csrf_token %}
          {% if user.is_authenticated %}
               <button type="submit" class="btn btn-secondary">Delete</button>
               <a type="submit" class="btn btn-secondary" href="{% url 'projects_list' %}">Cancel</a>
          {% endif %}
     </form>
</div>

{% endblock %}