.block{
    margin: 20px;
    border-radius: 7px;
    border: 2px solid #6c757d;
    padding: 10px;
}
.row{
    margin-top: 10px;
}
.errors{
    font-size: 12px;
    padding: 0
}
a{
    text-decoration: none;
    color: #2b2b2bf7;
}