{% extends 'base.html' %}
{% block main %}
     <div class="container">
         {% if issues %}
            <div class="row">
                {% for el in issues %}
                    <div class="card block">
                      <h5 class="card-header"><a href="{% url 'issue_detail' el.pk %}">{{ el.summary }}</a></h5>
                      <div class="card-body">
                        <h5 class="card-title">{{ el.description }}</h5>
                        <p class="card-text">{{ el.status.title }}</p>
                        <p class="card-text">{% for type in el.type.all %}{{ type.title }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                        <a href="{% url 'update_issue' el.pk %}" class="btn btn-secondary">Update issue</a>
                        <a href="{% url 'delete_issue' el.pk %}" class="btn btn-secondary">Delete issue</a>
                      </div>
                    </div>
                {% endfor %}
                 {% if is_paginated %}
                    {% include 'partial/pagination.html' %}
                {% endif %}
            </div>
        {% else %}
            <h2>Add issue</h2>
        {% endif %}
     </div>
{% endblock %}