  <div class="card">
       <div class="card-body">
          <h4 class="card-title" name="title">{{ project.title }}</h4>
          <p class="card-text" name="description">{{ project.description }}</p>
          <p class="card-text" name="started_at">{{ project.started_at }}</p>
          <p class="card-text" name="finished_at">{{ project.finished_at }}</p>
           <h5>Users: </h5>
           <a href="{% url 'project_user_create' project.pk %}" class="btn btn-secondary">Add user</a>
           {% if users %}
                {% for user in users %}
                    <p> {{ user }} </p>
                {% endfor %}
           {% else %}
                <p>No users have been added to this project yet</p>
           {% endif %}
           <h5>Issues: </h5>
           {% if button_text %}
                <a href="{% url 'project_issue_create' project.pk %}" class="btn btn-secondary">{{button_text}}</a>
           {% endif %}
           {% for issue in issues %}
               <div class="container">
                   {% include 'partial/card_form.html' %}
                   <a href="{% url 'issue_detail' issue.pk %}" class="btn btn-secondary">View issue</a>
                   {% if user.is_authenticated %}
                       <a href="{% url 'update_issue' issue.pk %}" class="btn btn-secondary">Update issue</a>
                       <a href="{% url 'delete_issue' issue.pk %}" class="btn btn-secondary">Delete issue</a>
                   {% endif %}
               </div>
           {% empty %}
                <p>No issues yet.</p>
           {% endfor %}
       </div>
 </div>