{% extends 'base.html' %}
{% block main %}
    <div class="container">
        <form action="{% url 'login' %}" method="post" class="text-center">
            {% csrf_token %}
            {% if has_error %}
                <p class="form-error">Incorrect username and password</p>
            {% endif %}
            <div class="form-group mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="form-group mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" name="password" id="password">
            </div>
            <button type="submit" class="btn btn-secondary">Sign in</button>
        </form>
{% endblock %}
